.home-page{
    background: linear-gradient(to bottom right, rgb(230, 215, 11),rgb(199, 147, 6));
    color:black;
    padding:20px 20px;
    min-height: 76vh;
}

.sect{
    background: linear-gradient(to bottom right, rgb(175, 164, 4),rgb(199, 147, 6));
}

.inner-body{
    margin-top:20vh;
}


.heading{
    font-family: font1;
    
}